// Aquí se guardarán las variables

// ===Importar tipografía===

@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400);

// ===Fuentes===

$main-font: "Ubuntu", sans-serif;
$light-font: 300;
$normal-font: 400;

// ===Gutter===
$gutter: 1em;

// ===Tamaños de fuente===
// Convertir pixels a em
@function em($el, $parent: 16px) {
	@return ($el / $parent) * 1em;
}
// Convertir pixels a rem
@function rem($el) {
	@return ($el / 16px) * 1rem;
}
//--------------------------------
$base-font-size: em(14px);
$h3-font-size: $base-font-size * 1.15;
$h2-font-size: $base-font-size * 1.35;
$h1-font-size: $base-font-size * 1.7;

// ===Colores===

$colors: (
	base-blue: #00b1f3,
	dark-blue: #03151f,
	medium-blue: #006bab,
	light-blue: #29daff,
	base-red: #ff3532,
	light-red: #ff4946,
	dark-gray: #19242b,
	light-gray: #cdcdcd,
	success: #00cb30,
	white: #ffffff
);

// === Iconos ===
@charset "UTF-8";
@font-face {
	font-family: "sass-proyecto-final";
	src: url("../fonts/sass-proyecto-final.eot");
	src: url("../fonts/sass-proyecto-final.eot?#iefix") format("embedded-opentype"),
		url("../fonts/sass-proyecto-final.woff") format("woff"), url("fonts/sass-proyecto-final.ttf") format("truetype"),
		url("../fonts/sass-proyecto-final.svg#sass-proyecto-final") format("svg");
	font-weight: normal;
	font-style: normal;
}
[data-icon]:before {
	font-family: "sass-proyecto-final" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "sass-proyecto-final" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-user:before {
	content: "\61";
}
.icon-password:before {
	content: "\62";
}
.icon-bars:before {
	content: "\63";
}
.icon-star:before {
	content: "\64";
}
// Seleccionar el color
// values allowed: base-blue, dark-blue, midium-blue, light-blue, base-red, light-red, dark-gray, light-gray, success, white.
@function color($color) {
	@return map-get($colors, $color);
}
// Función para obtener imágenes
@function img($img) {
	@return url("../img/#{$img}");
}
