.main-nav
  header.main-nav__header
    .main-nav__user
      img(src="img/user.png").main-nav__user__img
      .main-nav__user__data
        .main-nav__user__name Rafa Ramos
        .main-nav__user__bio Profesor de Escuela Digital
  include menu