// Pantalla de inicio de sesión

.login-page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: color(dark-blue);
  // Si se tiene la imagen de fondo se puede usar la función que creamos antes:
  // background: img('home-bg.png') center / cover;
  // Yo uso el color de fondo dark-blue porque no tengo la foto.
}

.logo {
  width: em(332px / 2);
  display: block;
  margin: 0 auto;
}

// Formulario de inicio de sesión

.login-form {
  width: em(560px / 2);
  margin: 2em auto;

  &__item {
    position: relative;
    margin-bottom: 1em;
  }
  &__input {
    display: block;
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
  }
  &__label {
    display: block;
    position: absolute;
    line-height: 1.5rem;
    padding-left: 1em;
    font-size: 0.9em;
  }
  &__submit {
    display: table;
    margin: 1em auto;
  }
}

.reset-password {
  text-align: center;
  color: color(white);
  a {
    color: color(base-red);
    display: inline-block;
    margin-left: 0.5em;
  }
}
